<a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <img src="/assets/icons/menu.svg" alt="">
    Menu
</a>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="list-group">
        <a class="list-group-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1" routerLink="/">
                    <img src="/assets/icons/home.svg" alt="">
                    Dashboard
                </h6>
            </div>
        </a>
        <a  class="list-group-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">  
                <h6 class="mb-1">
                    <img src="/assets/icons/users.svg" alt="">
                    Employees
                </h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let employeePage of employeesPages" [routerLink]="employeePage.url">
                    <img src="assets/icons/three-dots.svg" alt="">
                    {{employeePage.name}}
                </li>
            </ul>
        </a>
        <a class="list-group-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1" routerLink="reservations">
                    <img src="/assets/icons/reservations.svg" alt="">
                    Reservations
                </h6>
            </div>
        </a>
        <a  class="list-group-item" aria-current="true">
            <div class="d-flex w-100 justify-content-between">  
                <h6 class="mb-1">
                    <img src="/assets/icons/tools.svg" alt="">
                    Tools
                </h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let toolPage of toolsPages" [routerLink]="toolPage.url">
                    <img src="assets/icons/three-dots.svg" alt="">
                    {{toolPage.name}}
                </li>
            </ul>
        </a>
    </div>
  </div>
</div>
