<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        Menu
      </button>
    </div>
  </nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <div class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" aria-current="page">
                <img src="/assets/icons/home.svg" class="app-icon" alt="">Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page">
                <img src="/assets/icons/users.svg" class="app-icon" alt="">Employees
            </a>
        </li>
        <li class="nav-item" *ngFor="let employeePage of employeesPages" [routerLink]="employeePage.url">
            <a class="nav-link" aria-current="page">
                <img src="assets/icons/three-dots.svg" class="app-icon" alt="">
                {{employeePage.name}}
            </a>
        </li>
        <li class="nav-item" active>
            <a class="nav-link" routerLink="reservations" aria-current="page">
                <img src="/assets/icons/reservations.svg" class="app-icon" alt="">Reservations
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page">
                <img src="/assets/icons/users.svg" class="app-icon" alt="">Tools
            </a>
        </li>
        <li class="nav-item" *ngFor="let toolPage of toolsPages" [routerLink]="toolPage.url">
            <a class="nav-link" aria-current="page">
                <img src="assets/icons/three-dots.svg" class="app-icon" alt="">
                {{toolPage.name}}
            </a>
        </li>
    </div>
    </div>
    
</div>

