<div class="card-body">
    <h5 class="card-title">Hardwares tools</h5>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#hardwareModal">
            <img src="assets/icons/plus.svg" class="app-icon" alt="">Add
        </button>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hardwares list</h5>
        <!-- -->
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Designation</th>
              <th scope="col">Licence</th>
              <th scope="col">Version</th>
              <th scope="col">Type</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hardware of hardwares">
              <th scope="row">{{hardware.id}}</th>
              <td>{{hardware.designation}}</td>
              <td>{{hardware.licence}}</td>
              <td>{{hardware.version}}</td>
              <td>{{hardware.type}}</td>
              <td>
                  <img src="assets/icons/eye.svg" class="app-icon" alt="">
                  <img src="assets/icons/pencil-square.svg" routerLink="/hardwares/{{hardware.id}}" class="app-icon" alt="">
                  <img src="assets/icons/trash.svg" data-bs-toggle="modal" data-bs-target="#deletehardwareModal" class="app-icon" alt="">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="hardwareModal" tabindex="-1" aria-labelledby="hardwareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hardwareModalLabel">Hardware</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- -->
        <div class="mb-3">
          <label class="form-label">Designation</label>
          <input type="text" class="form-control" [(ngModel)]="newHardware.designation">
        </div>
        <div class="mb-3">
            <label class="form-label">Version</label>
            <input type="text" class="form-control" [(ngModel)]="newHardware.version">
        </div>
        <div class="mb-3">
            <label class="form-label">Serial Number</label>
            <input type="text" class="form-control" [(ngModel)]="newHardware.licence">
        </div>
        <div class="mb-3">
            <label class="form-label">QA Reference</label>
            <input type="text" class="form-control" [(ngModel)]="newHardware.comptability">
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea type="text" class="form-control" [(ngModel)]="newHardware.description">
          </textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Status</label>
          <select class="form-select mb-3" [(ngModel)]="newHardware.status">
            <option *ngFor="let state of status" value="{{state}}">
              {{state}}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Drivers</label>
          <textarea type="text" class="form-control" [(ngModel)]="newHardware.drivers">
          </textarea>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel-add-hardware" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" (click)="addHardware()" class="btn btn-primary">Add Hardware</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteHardwareModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to remove this hardware permanetly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel-delete-hardware" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>