<div class="card-body">
  <h5 class="card-title">Reservations</h5>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#reservationModal">
      <img src="assets/icons/plus.svg" class="app-icon" alt="">New reservation
    </button>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Reservations List</h5>
      <!-- -->
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">User</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations, let i=index">
            <th scope="row">{{reservation.id}}</th>
            <td>
              <a class="button">{{users[reservation.user.toString()]}}</a>
            </td>
            <td>{{reservation.start_date | date }}</td>
            <td>{{reservation.end_date | date }}</td>
            <td>
              <span *ngIf="reservation.status=='IN_PROGRESS'" class="badge bg-secondary">{{reservation.status}}</span>
              <span *ngIf="reservation.status=='VALIDATED'" class="badge bg-success">{{reservation.status}}</span>
              <span *ngIf="reservation.status=='POSTPONED'" class="badge bg-warning">{{reservation.status}}</span>
              <span *ngIf="reservation.status=='REJECTED'" class="badge bg-danger">{{reservation.status}}</span>
            </td>
            <td>
              <img src="assets/icons/eye.svg" data-bs-toggle="modal" data-bs-target="#viewReservationModal"
                (click)="selectReservation(i)" class="app-icon" alt="">
              <img *ngIf="(reservation.user==loggedUser.id) || loggedUser.role=='PROJECT_MANAGER' || (loggedUser.project==reservationAuthor.project && loggedUser.role=='TEAM_LEADER')" src="assets/icons/pencil-square.svg" routerLink="/reservations/{{reservation.id}}" class="app-icon"
                alt="">
              <img *ngIf="(reservation.user==loggedUser.id) || loggedUser.role=='PROJECT_MANAGER' || (loggedUser.project==reservationAuthor.project && loggedUser.role=='TEAM_LEADER')" src="assets/icons/trash.svg" data-bs-toggle="modal" data-bs-target="#deleteReservationModal"
                (click)="selectReservation(i)" class="app-icon" alt="">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModalLabel">New Reservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- -->
            <div class="mb-3">
              <label class="form-label">Employee</label>
              <input type="text" class="form-control" [value]="users[newReservation.user]" disabled>
            </div>
        <div class="mb-3">
          <label class="form-label">Equipment type</label>
          <select class="form-select mb-3" [(ngModel)]="newReservation.equipment_type" disabled>
            <option *ngFor="let type of types" [ngValue]="type.abbreviation">
              {{type.designation}}
            </option>
          </select>
          <div class="form-text text-danger" *ngIf="errors['equipment_type']">{{errors['equipment_type']}}</div>
        </div>
        <div *ngIf="newReservation.equipment_type=='HW'" class="mb-3">
          <label class="form-label">Hardware Equipment</label>
          <select class="form-select mb-3" [(ngModel)]="newReservation.hw_equipment">
            <option *ngFor="let hardware of hardwares" [ngValue]="hardware.id">
              {{hardware.designation}}
            </option>
          </select>
          <div class="form-text text-danger" *ngIf="errors['hw_equipment']">{{errors['hw_equipment']}}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Start date</label>
          <input type="datetime-local" class="form-control" [(ngModel)]="newReservation.start_date">
        </div>
        <div class="form-text text-danger" *ngIf="errors['start_date']">{{errors['start_date']}}</div>
        <div class="mb-3">
          <label class="form-label">End date</label>
          <input type="datetime-local" class="form-control" [(ngModel)]="newReservation.end_date">
        </div>
        <div class="form-text text-danger" *ngIf="errors['end_date']">{{errors['end_date']}}</div>
        <div class="mb-3">
          <label class="form-label">Status</label>
          <select class="form-select mb-3" [value]="newReservation.status" disabled>
            <option *ngFor="let state of status" value="{{state}}">
              {{state}}
            </option>
          </select>
        </div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel-add-reservation" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="addNewReservation()" class="btn btn-primary">Add reservation</button>
      </div>
    </div>
  </div>
</div>

<!-- Reservation Modal -->
<div class="modal fade" id="viewReservationModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Reservation details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- -->
        <app-reservation [reservation]="reservation"></app-reservation>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel-add-user" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- delete User Modal -->
<div class="modal" id="deleteReservationModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to remove this reservation permanetly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel-delete-reservation" class="btn btn-secondary"
          data-bs-dismiss="modal">Cancel</button>
        <button type="button" (click)="deleteReservation()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>