<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title">Employee page</h5>
          <br>
          <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" [(ngModel)]="user.username" placeholder="Full Name">
            </div>
            <div class="mb-3">
              <label class="form-label">Registration number</label>
              <input type="number" class="form-control" [(ngModel)]="user.registration_number" placeholder="658">
            </div>
            <div class="mb-3">
              <label class="form-label">Role</label>
              <select class="form-select mb-3" [(ngModel)]="user.role">
                <option *ngFor="let role of roles" value="{{role}}">
                  {{role}}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Project</label>
              <select class="form-select mb-3" [(ngModel)]="user.project">
                <option *ngFor="let project of projects" value="{{project.id}}">
                  {{project.name}}
                </option>
              </select>
            </div>
            <br>
            <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_active">
              <label class="form-check-label">Active</label>
            </div>
            <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_staff">
              <label class="form-check-label">Staff</label>
            </div>
            <div class="form-check form-switch form-check-inline">
              <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_superuser">
              <label class="form-check-label">Super user</label>
            </div>
            <br>
            <div class="alert alert-success" role="alert">
              Employee updated successfully
            </div>
            <div class="alert alert-warning" role="alert">
              Error while updating employee details
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-success" type="button" (click)="saveChange()">
                  <img src="assets/icons/pencil-square.svg" class="app-icon" alt="">Save
              </button>
          </div>
      </div>
    </div>
  </div>
</div>