<table class="table">
    <tbody>
        <tr>
            <th scope="row">
                Title
            </th>
            <td class="text-primary"><strong>{{genFunction.title}}</strong></td>
        </tr>
        <tr>
            <th scope="row">
                Author
            </th>
            <td>{{genFunction.author}}</td>
        </tr>
        <tr>
            <th scope="row">
                Language
            </th>
            <td>{{genFunction.language}}</td>
        </tr>
        <tr>
            <th scope="row">
                Link
            </th>
            <td><a routerLink="{{genFunction.link}}">{{genFunction.link}}</a></td>
        </tr>
        <tr>
            <th scope="row">
                Status
            </th>
            <td>
                <span *ngIf="genFunction.status=='DRAFT'"
                    class="badge rounded-pill bg-secondary">{{genFunction.status}}</span>
                <span *ngIf="genFunction.status=='IN_CORRECTION'"
                    class="badge rounded-pill bg-danger">{{genFunction.status}}</span>
                <span *ngIf="genFunction.status=='PUBLISHED'"
                    class="badge rounded-pill bg-success">{{genFunction.status}}</span>
                <span *ngIf="genFunction.status=='IN_PROOFREADING'"
                    class="badge rounded-pill bg-warning">{{genFunction.status}}</span>
            </td>
        </tr>
        <tr>
            <th scope="row">
                Last update
            </th>
            <td>{{genFunction.updated_at | date}}</td>
        </tr>
    </tbody>
</table>