<div class="card">
    <div class="card-body">
        <br>
        <h3>Login</h3>
        <br>
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="email" class="form-control" [(ngModel)]="loginForm.username" placeholder="name@example.com"
                ngDefaultControl>
            <div *ngIf="false" class="form-text">Username required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" ngDefaultControl>Password</label>
            <input type="password" [(ngModel)]="loginForm.password" class="form-control">
            <div *ngIf="false" class="form-text">Please enter a valid credentials.</div>
        </div>
        <br>
        <div *ngIf="messages.error.length>0" class="alert alert-danger" role="alert">
            {{messages.error}}
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="loginForm.rememberMe">
            <label class="form-check-label">Remember me</label>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-success" (click)="login()" type="button">Sign in</button>
        </div>
        <br>
    </div>
</div>