<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <a routerLink="/reservations">Reservations</a> > {{reservation.id}}
    </h5>
    <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="mb-3">
          <label class="form-label">Employee</label>
          <input type="email" class="form-control" [value]="reservationUser.username" disabled>
        </div>
        <div *ngIf="reservation.equipment_type=='HW'" class="mb-3">
          <label class="form-label">Hardware Equipment</label>
          <select class="form-select mb-3" [(ngModel)]="reservation.hw_equipment">
              <option *ngFor="let hardware of hardwares" [ngValue]="hardware.id">
                {{hardware.designation}}
              </option>
          </select>
        </div>
        <div *ngIf="reservation.equipment_type=='SW'" class="mb-3">
          <label class="form-label">Software Equipment</label>
          <select class="form-select mb-3" [(ngModel)]="reservation.sw_equipment">
              <option *ngFor="let software of softwares" [ngValue]="software.id">
                {{software.designation}}
              </option>
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="mb-3">
          <label class="form-label">Start date</label>
          <input type="datetime-local" class="form-control" [(ngModel)]="reservation.start_date">
        </div>
        <div class="mb-3">
          <label class="form-label">End date</label>
          <input type="datetime-local" class="form-control" [(ngModel)]="reservation.end_date">
        </div>
        <div class="mb-3">
          <label class="form-label">Status</label>
          <select class="form-select mb-3" [(ngModel)]="reservation.status">
            <option *ngFor="let state of status" value="{{state}}">
              {{state}}
            </option>
          </select>
        </div>
      </div>
    </div>
    
      
      <br>
      <div *ngIf="messages.message.length>0" class="alert alert-success" role="alert">
        {{messages.message}}
      </div>
      <div *ngIf="messages.error.length>0" class="alert alert-warning" role="alert">
        {{messages.error}}
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success" type="button" (click)="saveChange()">
            <img src="assets/icons/pencil-square.svg" class="app-icon" alt="">Save
        </button>
    </div>
  </div>
</div>