<table class="table">
    <tbody>
        <tr>
            <th scope="row">
                Id
            </th>
            <td class="text-primary"><strong>{{reservation.id}}</strong></td>
        </tr>
        <tr>
            <th scope="row">
                Equipment
            </th>
            <td>{{hardwares[reservation.hw_equipment]}}</td>
        </tr>
        <tr>
            <th scope="row">
                Employee
            </th>
            <td>
                <a class="link">{{users[reservation.user]}}</a>
            </td>
        </tr>
        <tr>
            <th scope="row">
                Created at
            </th>
            <td>{{reservation.created_at | date}}</td>
        </tr>
        <tr>
            <th scope="row">
                Status
            </th>
            <td>
                <span *ngIf="reservation.status=='IN_PROGRESS'"
                    class="badge rounded-pill bg-secondary">{{reservation.status}}</span>
                <span *ngIf="reservation.status=='REJECTED'"
                    class="badge rounded-pill bg-danger">{{reservation.status}}</span>
                <span *ngIf="reservation.status=='VALIDATED'"
                    class="badge rounded-pill bg-success">{{reservation.status}}</span>
                <span *ngIf="reservation.status=='POSTPONED'"
                    class="badge rounded-pill bg-warning">{{reservation.status}}</span>
            </td>
        </tr>
        <tr>
            <th scope="row">
                Start date
            </th>
            <td>{{reservation.start_date | date}}</td>
        </tr>
    </tbody>
</table>