<table class="table">
    <tbody>
        <tr>
            <th scope="row">
                <img src="assets/icons/user.svg" alt="">
            </th>
            <td>{{reservation.user}}</td>
        </tr>
        <tr>
            <th scope="row">
                <img src="assets/icons/email.svg" alt="">
            </th>
            <td>{{reservation.status}}</td>
        </tr>
        <tr>
            <th scope="row">
                <img src="assets/icons/briefcase.svg" alt="">
            </th>
            <td></td>
        </tr>
    </tbody>
</table>