/* You can add global styles to this file, and also import other style files */
.app-icon {
    width: 50;
    height: 50;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.app-card {
    margin-left: 0.8rem;
    margin-top: 0.8rem;
}

.login-image {
    margin-top: 4rem;
}